* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: #333;
}
.wrap {
  width: 1200px;
  margin: 0 auto;
}
header {
  display: flex;
  justify-content: space-between;
}
#gnb {
  display: flex;
  gap: 80px;
}

