/* reset */
* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  letter-spacing: -0.4px;
  line-height: 1.5;
  color: #333;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

/* layout */
#wrap {
  width: 1200px;
  margin: 0 auto;
}

.logo{
  background: lightcoral;
}

#header {
  display: flex;
  justify-content: space-between;
}
nav {
  display: flex;
  gap: 100px;
}
